<h1>Lotus::Router - basics</h1>

<p>You can treat it as a Rack middleware, similar to Rack::URLMap.</p>

<pre class="code">
run Lotus::Router.new do
  get '/lotus-router/hello',
    to: lambda { |env| [200, {}, ['Hello!']] }

  get '/lotus-router/dsl',
    to: WmRug::LotusDSL
end
</pre>

<p>As long as you understand how Rack apps work, this is a simple drop-in.</p>

<nav class="slidenav">
  <a href="/lotus-router" rel="previous">&laquo;Lotus::Router </a> &middot;
  <a href="/lotus-router/dsl" rel="next">Lotus::Router DSL &raquo;</a>
</nav>
