<h1>Lotus::Router - DSL</h1>
<pre class="code unconstrained">
Lotus::Router.new do
  get '/foo',       to: Foo::Index
  post '/foo/:id',  to: 'foo#update'
  redirect '/old',  to: '/new'

  # constraints
  get '/foo/:id',
    id: /\d+/,
    to: ->(env) { [200, {}, [":id must be a number!"]] }

  # optional tokens
  get '/foo(.:format)',
    to: ->(env) { [200, {}, ["#{ env['router.params'][:format] }"]] }

  # globbing
  get '/*',
    to: ->(env) { [200, {}, ["#{ env['router.params'].inspect }"]] }
end
</pre>

<nav class="slidenav">
  <a href="/lotus-router/basics" rel="previous">&laquo; Lotus::Router basics </a> &middot;
  <a href="/lotus-router/testing" rel="next">Lotus::Router testing &raquo;</a>
</nav>
