<h1>Lotus::Router</h1>

<p>Lotus::Router<label for="1" class="margin-toggle sidenote-number">
  <span class="sidenote"><a href="https://github.com/lotus/router">https://github.com/lotus/router</a></span>
  is simple and Rack compatible.</p>

<p>You can easily use it as a standalone gem to make Rack routing easier.</p>

<p>It's based on Joshua Hull's http_router<label for="2" class="margin-toggle sidenote-number">
  <span class="sidenote"><a href="https://github.com/joshbuddy/http_router">https://github.com/joshbuddy/http_router</a></span>,
  but with a nicer DSL.</p>

<nav class="slidenav">
  <a href="/rack/routing_two" rel="previous">&laquo; Rack routing </a> &middot;
  <a href="/lotus-router/basics" rel="next">Lotus::Router basics &raquo;</a>
</nav>
