<h1>Lotus::Router - testing</h1>

<nav class="slidenav">
  <a href="/lotus-router/dsl" rel="previous">&laquo; Lotus::Router DSL </a> &middot;
  <a href="/lotus-app/mounting" rel="next">Lotus::Router next? &raquo;</a>
</nav>
