<h1>Rack routing 2</h1>

<h2>Method 2. Rack::URLMap</h2>
<pre class="code">
rack_routing = Rack::Builder.new do
  run Rack::URLMap.new(
    '/rack/basics'      => WmRug::RackBasics,
    '/rack/routing'     => WmRug::RackRouting,
    '/rack/routing_two' => WmRug::RackRoutingTwo
  )
end
</pre>

<p>As a bonus, use Rack::Cascade to hunt out a result.</p>
<pre class="code">
run Rack::Cascade.new([
  intro,
  rack_routing,
  lotus_router,
  lotus_app,
  outro
])
</pre>

<nav class="slidenav">
  <a href="/rack/routing" rel="previous">&laquo; Rack basics </a> &middot;
  <a href="/lotus-router" rel="next">Lotus::Router &raquo;</a>
</nav>
