<h1>Lotus app</h1>

A lotus app.

<nav class="slidenav">
  <a href="/lotus-router/testing" rel="previous">&laquo; Lotus::Router Testing </a> &middot;
  <a href="/lotus-app/dsl" rel="next">Lotus app DSL? &raquo;</a>
</nav>

