<h1>Lotus app</h1>

<%= routes.new_track_path %>

<a href="/lotus-router/testing" rel="previous">&laquo; Lotus::Router Testing </a> &middot; <a href="/lotus-app/dsl" rel="next">Lotus app DSL? &raquo;</a>


