<h1>Lotus app - mounting</h1>

<p>The default architecture is called Container, it can host several Lotus
  (and Rack) applications in the same Ruby process.</p>

<p>Each application lives in its own container.</p>

<p>We mount an application on its own path. This is done the
  project's <em>/config/environment.rb</em></p>

<pre class="code">
require_relative '../apps/web/application'

Lotus::Container.configure do
  mount Web::Application, at: '/'
end
</pre>

<p>This is also where we'd mount other Rack apps within a Lotus context, if we wished.</p>

<nav class="slidenav">
<a href="/lotus-router/testing" rel="previous">&laquo; Lotus::Router - testing </a> &middot;
<a href="/lotus-app<%= routes.routes_path %>" rel="next">Lotus app - routing config &raquo;</a>
</nav>
