<h1>Lotus routing - resources</h1>

<p>The router provides many common conveniences. Probably the most well known routing helper is the <em>resource</em></p>

<pre class="code">
# /apps/web/config/routes.rb

resources :tracks

  #     tracks GET, HEAD  /tracks            Web::Controllers::Tracks::Index
  #  new_track GET, HEAD  /tracks/new        Web::Controllers::Tracks::New
  #     tracks POST       /tracks            Web::Controllers::Tracks::Create
  #      track GET, HEAD  /tracks/:id        Web::Controllers::Tracks::Show
  # edit_track GET, HEAD  /tracks/:id/edit   Web::Controllers::Tracks::Edit
  #      track PATCH      /tracks/:id        Web::Controllers::Tracks::Update
  #      track DELETE     /tracks/:id        Web::Controllers::Tracks::Destroy
</pre>

<nav class="slidenav">
<a href="/lotus-app<%= routes.routes_path %>" rel="previous">&laquo; Lotus routes </a> &middot;
<a href="/lotus-app<%= routes.resources_path %>" rel="next">Lotus next? &raquo;</a>
</nav>
