<!doctype HTML>
<html>
  <head>
    <title>Web</title>
      <!-- these are still served from the Rack decorator -->
      <link rel="stylesheet" href="/public/tufte.css"/>
      <link rel="stylesheet" href="/public/style.css"/>
      <script type="text/javascript" src="/public/script.js"></script>
      <link rel="icon" type="image/png" href="/public/lotus-icon.png" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
